In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("India_Crop_Production.csv")

In [3]:
df.head(5)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     246091 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [5]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.460910e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.693599e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  9.100000e+01
50%      2006.000000  5.820000e+02  7.880000e+02
75%      2010.000000  4.392000e+03  8.000000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [6]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [7]:
# Calculate the mean of the 'production' column
production_mean = df['Production'].mean()

# Replace missing values in the 'production' column with the mean
df['Production'].fillna(production_mean, inplace=True)

# Write the filled DataFrame back to a CSV file
df.to_csv('India_Crop_Production.csv', index=False)

In [8]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [9]:
df.size

1722637

In [10]:
df.isnull().values.any()

False

In [11]:
df.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [12]:
df.Crop.unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Rapeseed &Mustard', 'Mesta',
       'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota', 'Cabbage',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Sannhamp',
       'Varagu', 'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total',
       'Jute', 'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Tea', 'Coffee', 'Cauliflower', 'Other Citrus Fruit',
       'Water Melon', 'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil',
       'Bean', 'Jobster', 'Perilla', 'Rajmash Kholar',
       'Ricebean (nagadal)', 'Ash Gourd', 'Beet Root', 'Lab-Lab',
       'Ribed Guard', 'Yam', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi',
       'Ber', 'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [13]:
df.Season.unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [14]:
df['Yield'] = (df['Production'] / df['Area'])

In [15]:
df.head(1)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.594896

In [16]:
n = 5
df['Crop'].value_counts()[:5].index.tolist()

['Rice', 'Maize', 'Moong(Green Gram)', 'Urad', 'Sesamum']

In [17]:
data = df.drop(['State_Name'], axis = 1) #,'District_Name','Season','Crop'

In [18]:

# data.corr()

In [19]:
# sns.heatmap(data.corr(), annot =True)
# plt.title('Correlation Matrix')

In [20]:
dummy_df = pd.get_dummies(data, dtype=int)
dummy_df.head(5)

,Crop_Year,Area,Production,Yield,District_Name_24 PARAGANAS NORTH,District_Name_24 PARAGANAS SOUTH,District_Name_ADILABAD,District_Name_AGAR MALWA,District_Name_AGRA,District_Name_AHMADABAD,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,2000,1254.0,2000.0,1.594896,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000,2.0,1.0,0.500000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2000,102.0,321.0,3.147059,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2000,176.0,641.0,3.642045,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,720.0,165.0,0.229167,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split

X = dummy_df.drop(["Production","Yield"], axis=1)
y = dummy_df["Production"]

# Splitting data set - 25% test dataset and 75% 

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=40)

print("X_train :",X_train.shape)
print("X_test :",X_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

X_train : (196872, 778)
X_test : (49219, 778)
y_train : (196872,)
y_test : (49219,)

In [22]:
print(X_train)
print(y_train)

        Crop_Year    Area  District_Name_24 PARAGANAS NORTH  \
28856        2000     1.0                                 0
108679       2008   832.0                                 0
171919       2003    15.0                                 0
230706       2000   396.0                                 0
116440       1999   289.0                                 0
...           ...     ...                               ...
93176        1998  6314.0                                 0
211109       1999    36.0                                 0
30727        2008  4522.0                                 0
112859       2007   163.0                                 0
142662       2007    70.0                                 0

        District_Name_24 PARAGANAS SOUTH  District_Name_ADILABAD  \
28856                                  0                       0
108679                                 0                       0
171919                                 0                       0
230706                                 0                       0
116440                                 0                       0
...                                  ...                     ...
93176                                  0                       0
211109                                 0                       0
30727                                  0                       0
112859                                 0                       0
142662                                 0                       0

        District_Name_AGAR MALWA  District_Name_AGRA  District_Name_AHMADABAD  \
28856                          0                   0                        0
108679                         0                   0                        0
171919                         0                   0                        0
230706                         0                   0                        0
116440                         0                   0                        0
...                          ...                 ...                      ...
93176                          0                   0                        0
211109                         0                   0                        0
30727                          0                   0                        0
112859                         0                   0                        0
142662                         0                   0                        0

        District_Name_AHMEDNAGAR  District_Name_AIZAWL  ...  Crop_Turmeric  \
28856                          0                     0  ...              0
108679                         0                     0  ...              0
171919                         0                     0  ...              0
230706                         0                     0  ...              0
116440                         0                     0  ...              0
...                          ...                   ...  ...            ...
93176                          0                     0  ...              0
211109                         0                     0  ...              0
30727                          0                     0  ...              0
112859                         0                     0  ...              0
142662                         0                     0  ...              0

        Crop_Turnip  Crop_Urad  Crop_Varagu  Crop_Water Melon  Crop_Wheat  \
28856             0          0            0                 0           0
108679            0          0            0                 0           0
171919            0          0            0                 0           0
230706            0          0            0                 0           0
116440            0          0            0                 0           0
...             ...        ...          ...               ...         ...
93176             0          0            0                 0           0
211109            0          1            0                 0           0
30727             0          0            0                 0           0
112859            0          0            0                 0           0
142662            0          0            0                 0           0

        Crop_Yam  Crop_other fibres  Crop_other misc. pulses  \
28856          0                  0                        0
108679         0                  0                        0
171919         0                  0                        0
230706         0                  0                        0
116440         0                  0                        0
...          ...                ...                      ...
93176          0                  0                        0
211109         0                  0                        0
30727          0                  0                        0
112859         0                  0                        0
142662         0                  0                        0

        Crop_other oilseeds
28856                     0
108679                    0
171919                    0
230706                    0
116440                    0
...                     ...
93176                     0
211109                    0
30727                     0
112859                    0
142662                    0

[196872 rows x 778 columns]
28856        1.0
108679     354.0
171919       8.0
230706     642.0
116440      67.0
           ...
93176     3593.0
211109      17.0
30727     4508.0
112859     456.0
142662      91.0
Name: Production, Length: 196872, dtype: float64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 11)
model.fit(X_train,y_train)
rf_predict = model.predict(x_test)
rf_predict